<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JacktheRipperBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JacktheRipperBot.Properties.Settings>
            <setting name="NumberofDVDs" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RipCommand" serializeAs="String">
                <value>C:\Users\Me\Desktop\Rip.bat</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.70</value>
            </setting>
            <setting name="RipArguments" serializeAs="String">
                <value>{Drive} C:\rips\{Timestamp} {Name}</value>
            </setting>
        </JacktheRipperBot.Properties.Settings>
    </userSettings>
</configuration>