<?xml version="1.0" encoding="utf-8"?>
<!-- example configuration file -->
<Config>
  <ToolheadUp>1600</ToolheadUp>
  <ToolheadDown>700</ToolheadDown>
  <YAxisDown>968</YAxisDown>
  <YAxisStop>950</YAxisStop>
  <YAxisUp>935</YAxisUp>
  <PivotInTray>2527</PivotInTray>
  <PivotDrive>2150</PivotDrive>
  <PivotOutTray>1783</PivotOutTray>
  <MaxToolheadMoveTime>5000</MaxToolheadMoveTime>
  <MaxPivotMoveTime>15000</MaxPivotMoveTime>
  <YAxisLowertoDriveTime>3000</YAxisLowertoDriveTime>
  <YAxisLowertoOutTrayDropTime>2000</YAxisLowertoOutTrayDropTime>
  <PivotSettleTime>1000</PivotSettleTime>
  <PivotSpeed>8</PivotSpeed>
  <PivotAcceleration>1</PivotAcceleration>
  <ToolheadSpeed>0</ToolheadSpeed>
  <ToolheadAcceleration>0</ToolheadAcceleration>
  <MaestroPort>/dev/ttyACM0</MaestroPort>
</Config>
